[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://__token__:${PYPI_PRIVATE_TOKEN}@algeciras.anfema.net:8200/simple/"
verify_ssl = false
name = "anfema"

[packages]
firebase_push = {editable = true, path = "."}
celery = {extras = ["redis"], version = "*"}
redis = "*"
psycopg2 = "*"
python-dotenv = "*"
watchfiles = "*"
django-admin-extra-buttons = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
debugpy = "*"
flake8 = "*"

[requires]
python_version = "3.10"
